In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("movies_metadata.csv")

C:\Users\Nimisha.Anandan\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
data.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [4]:
data.shape

(45466, 24)

In [5]:
data.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [6]:
data = data[[ 'revenue', 'title','vote_average', 'vote_count','runtime']]

v - no.of votes generated by the movie
c - mean rating of the perticuar data
R - mean rating of the movie
m - mini no. of votes required for the movie to be in the chart

In [7]:
c = data['vote_average'].mean()

In [8]:
m = data['vote_count'].quantile(0.9)
m

160.0

In [9]:
data['runtime'].min()

0.0

In [10]:
data['runtime'].max()

1256.0

In [11]:
filt_movies = data[(data['runtime']>=60) & (data['runtime'] <=300)]

In [12]:
filt_movies = filt_movies[filt_movies['vote_count']>= m]

In [13]:
filt_movies.shape

(4511, 5)

In [16]:
def weighted_rating(x, m = m, c = c):
    v = x['vote_count']
    R = x['vote_average']
    wgt_rating = (v/(v+m) * R) + (m/(m+v) * c)
    return wgt_rating

In [18]:
filt_movies['score']=filt_movies.apply(weighted_rating, axis=1)

In [19]:
filt_movies

,revenue,title,vote_average,vote_count,runtime,score
0,373554033.0,Toy Story,7.7,5415.0,81.0,7.640253
1,262797249.0,Jumanji,6.9,2413.0,104.0,6.820293
4,76578911.0,Father of the Bride Part II,5.7,173.0,106.0,5.660700
5,187436818.0,Heat,7.7,1886.0,170.0,7.537201
8,64350171.0,Sudden Death,5.5,174.0,106.0,5.556626
...,...,...,...,...,...,...
45177,0.0,Brice 3,4.3,160.0,95.0,4.959104
45204,0.0,Girls Trip,7.1,393.0,122.0,6.671272
45258,0.0,Descendants 2,7.5,171.0,111.0,6.590372
45265,1359497.0,Force Majeure,6.8,255.0,118.0,6.344369
45343,0.0,The Visitors: Bastille Day,4.0,167.0,110.0,4.791783

In [20]:
filt_movies = filt_movies.sort_values("score",ascending=False)

In [22]:
filt_movies[['title','vote_average','score']].head(20)

                                 title  vote_average     score
314           The Shawshank Redemption           8.5  8.445869
834                      The Godfather           8.5  8.425439
10309      Dilwale Dulhania Le Jayenge           9.1  8.421453
12481                  The Dark Knight           8.3  8.265477
2843                        Fight Club           8.3  8.256385
292                       Pulp Fiction           8.3  8.251406
522                   Schindler's List           8.3  8.206639
23673                         Whiplash           8.3  8.205404
5481                     Spirited Away           8.3  8.196055
2211                 Life Is Beautiful           8.3  8.187171
1178            The Godfather: Part II           8.3  8.180076
1152   One Flew Over the Cuckoo's Nest           8.3  8.164256
351                       Forrest Gump           8.2  8.150272
1154           The Empire Strikes Back           8.2  8.132919
1176                            Psycho           8.3  8.132715
18465                 The Intouchables           8.2  8.125837
40251                       Your Name.           8.5  8.112532
289             Leon: The Professional           8.2  8.107234
3030                    The Green Mile           8.2  8.104511
1170                        GoodFellas           8.2  8.077459